lm/unidad/ud6/ejercicio5/dtd/ej5xml.dtd

<!ELEMENT personas (persona*)>
<!ELEMENT persona (nombre, mayor_de_edad?, ciudad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT mayor_de_edad EMPTY>
<!ELEMENT ciudad (#PCDATA)>
<!ATTLIST persona forma_de_pago (Bizum|Contado|Tarjeta) "Bizum">

<!--
          nombreelem  nombreatri tipoatri   valordefecto
          value #required #implied #fixed
-->